.site-branding-container .site-branding .site-title{
    width: 100% !important;
}

.site-header.featured-image .site-branding .site-title{
    width: 100% !important;
}

#masthead .site-branding .site-title {
    width: 100% !important;
}